# Linear Regression Homework
- The dataset you are working is Boston Housing Price
- The Boston_Housing_Prices dataset is a famous dataset usually used for learning or benchmarking regression techniques. This dataset contains 14 variables, one of which (MEDV, median value of home) we'll use as the target. 

### For this assignment, your task is to:
1. Read in the dataset using sklearn's load_boston() function (found in sklearn.datasets) 
1. Perform some basic exploratory data analysis to get a feel for the data. Graph some stuff! 
1. Create a correlation heatmap to check to see how highly correlated our predictor variables (features) are (Remember, if our predictors are highly correlated, this is bad.)
1. Train the model based on the train set. Use 75 percent of the data for train part. Use 25 percent of the data for test part.
	- Hint: `from sklearn.model_selection import train_test_split`
	- Hint: `X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)`
1. -Make predictions on your test set (X_test) and see how well it compares to the actual targets (y_test) from the test set.
1. Compute, Mean-Square-Error (MSE) and R Squared score of your Model 
	- Hint: `from sklearn.metrics import r2_score`
	- Hint: `from sklearn.metrics import mean_squared_error`

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]
(506, 13)
      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT  PRICE
0     15.3  396.90   4.98   24.0
1     17.8  396.90   9.14   21.6
2     17.8  392.83   4.03   34.7
3     18.7  394.63   2.94   33.4
4     18.7  396.90   5.33   36.2

### Apply data normalization (Scaling) to improve the prediction result

- Use StandardScaler and then train your Linear Regression Model. Comapre the R Square score with previous one you got
- Use MinMaxScaler and then train your Linear Regression Model. Comapre the R Square score with previous one you got
- Watch this video: https://www.youtube.com/watch?v=YKP31T5LIXQ

---

# Step 1: Read the Dataset
Read in the dataset using sklearn's load_boston() function (found in sklearn.datasets)

In [38]:
# import the load_boston() function from sklearn.datasets
from sklearn.datasets import load_boston
import pandas

In [53]:
boston = load_boston()
data = pandas.DataFrame(boston.data)

data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [54]:
data.columns = boston.feature_names
data['PRICE'] = boston.target

print('DATA SHAPE:', data.shape)
data.head()

DATA SHAPE: (506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

# Step 2: Explore the Dataset
Perform some basic exploratory data analysis to get a feel for the data. Graph some stuff!

# Step 3: Create Correlation Heatmap
Create a correlation heatmap to check to see how highly correlated our predictor variables (features) are (Remember, if our predictors are highly correlated, this is bad.)

# Step 4: Model Training
Train the model based on the train set. Use 75 percent of the data for train part. Use 25 percent of the data for test part.
- Hint: `from sklearn.model_selection import train_test_split`
- Hint: `X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)`

# Step 5: Model Predictions
Make predictions on your test set (X_test) and see how well it compares to the actual targets (y_test) from the test set.

# Step 6: Compute Error
Compute, Mean-Square-Error (MSE) and R Squared score of your Model 
- Hint: `from sklearn.metrics import r2_score`
- Hint: `from sklearn.metrics import mean_squared_error`